<main class="component-wrap">
    <header>
        <div class="container">
            <h4>Pula Farm Assessment</h4>
        </div>
    </header>
    <div class="body-wrap">
        <div class="container">
            <section class="section-lost">
                <h4>Wah !, You are completely lost</h4>
                <router-link class="btn btn-sm btn-farm" to="/">Go to homepage</router-link>
            </section>        
        </div>
    </div>
</main>