<main class="component-wrap">
    <header>
        <div class="container">
            <h4>Pula Farm Assessment</h4>
        </div>
    </header>
    <div class="body-wrap">
        <div class="container">
            <section class="report-section">
                <div class="report-grid">
                    <table>
                        <tr v-for="y_index in farmData.gridArray">
                            <td 
                                v-for="x_index in farmData.gridArray"
                                v-bind:class="{ 'low-risk': checkLowRisk(x_index, y_index), 'medium-risk': checkMediumRisk(x_index, y_index), 'high-risk': checkHighRisk(x_index, y_index) }"
                                >
                                {{checkAllRiskValue(x_index, y_index) === 0 ? '' : checkAllRiskValue(x_index, y_index) + ' %' }}
                            </td> 
                        </tr>
                      </table>
                </div>
                <p>The overall impact is <span>{{getOverralRisk}}% </span> yield loss.</p>  
                <router-link class="btn btn-sm btn-farm" to="/">Back</router-link>
            </section>
        </div>
    </div>
</main>
        