@import "src/app.sass"

main .body-wrap .report-section .title
    font-size: 16px
    padding: .3em 0
    font-weight: normal
    span 
        font-size: 22px
        color: brandColor(one)
main .body-wrap .report-section .report-grid
    width: 100%
    display: flex
    padding: 1em 0
main .body-wrap .report-section .report-grid table 
    width: fit-content
    border: solid 1px grayColor(g800)
    tr
        width: fit-content
        td 
            width: 4em
            height: 4em
            border: solid 1px grayColor(g800)
            font-size: 12px
            font-weight: normal
            text-align: center
            &.low-risk 
                background-color: brandColor(low)
            &.medium-risk 
                background-color: brandColor(medium)
            &.high-risk 
                background-color: brandColor(high)
main .body-wrap .report-section p 
    font-size: 15px
    span 
        color: brandColor(one)
        font-weight: bold
            

