@import "src/app.sass"

.form 
    width: 100%
.form .form-group
    width: 100%
    display: flex
    flex-direction: column
.form .form-group label
    font-size: 15px
    font-weight: bold
    color: grayColor(g800)
.form .form-group input
    width: 100%
    border: none
    outline: none
    border: solid 1px grayColor(g200)
    background-color: white
    font-size: 15px
    color: black
    padding: .5em
    border-radius: 2px
    font-weight: 400
.form .form-group .error_text
    color: btsColor(danger)
    font-size: 13px

.form .form-group .is-invalid
    border: solid 1px btsColor(danger)
