<main class="component-wrap">
    <div v-if="SpinnerLaunch" class="spinner-wrapper">
        <div class="spinner"></div>
    </div>
    <header>
        <div class="container">
            <h4>Pula Farm Assessment</h4>
        </div>
    </header>
    <div class="body-wrap">
        <div class="container">
            <section class="section-form">
                <form class="form">
                    <div class="form-group">
                        <label>Enter data url</label>
                        <input type="text"
                        v-bind:class="{'is-invalid': inputEmpty }"
                        name="inputUrl" v-model="inputUrl" v-on:keyup="checkInputValidity" v-on:keyup.alt.enter="submitUrl">

                        <span class="error_text" v-if="inputEmpty"> Url cannot be empty </span>
                    </div>
                    <div class="btn-wrap">
                        <button type="button" class="btn btn-sm btn-farm" @click="submitUrl">Simulate</button>
                    </div>
                </form>
            </section>        
        </div>
    </div>
</main>
    