
$brandColors: (one: #17A0C5, two: #F4AF1B, high: #FF1414, medium: #F9C80E, low: #F3DDBE  )

$btsColors: (primary: #3238F8, success: #2DB34D, info: #02b0cc, warning: #FF9F00, danger: #E72A29, secondary: #6c757d, light: #f0f3f5, dark: #2f353a,)

$grayColors: (g100: #F0F0F0 , g200: #E0E0E0, g300: #C0C0C0, g400: #A0A0A0, g500: #808080, g600: #606060, g700: #404040, g800: #202020)

// Color function
@function brandColor($color-name) 
    @return map-get($brandColors , $color-name)
    
@function btsColor($color-name) 
    @return map-get($btsColors , $color-name)

@function grayColor($color-name) 
    @return map-get($grayColors , $color-name)

    
// Resposivenes Breakpoints
// Extra small    
$desktop_xm: 425px

@mixin desktop_xm
    @media (max-width: #{$desktop_xm}) 
        @content
    
// Small
$desktop_sm: 576px

@mixin desktop_sm
    @media (max-width: #{$desktop_sm}) 
        @content
    
// Medium
$desktop_md: 768px

@mixin desktop_md
    @media (max-width: #{$desktop_md}) 
        @content
    
// Large
$desktop_lg: 992px

@mixin desktop_lg
    @media (max-width: #{$desktop_lg}) 
        @content
    
// Extra large
$desktop_xl: 1200px

@mixin desktop_xl
    @media (max-width: #{$desktop_xl}) 
        @content

$bgThrough: rgba(0,0,0,0.2)  

    


#main_body
    background-color: #eeeee4
    width: 100%
    -ms-overflow-style: none
    scrollbar-width: none
    color: black

::-webkit-scrollbar
    width: 0px
    background: transparent

::-webkit-scrollbar-thumb 
    background-color: white
    width: 1px


.btn-farm
    border-radius: 5px
    padding: .5em 1em
    min-width: 10em
    width: fit-content
    text-align: center
    border: none
    outline: none !important
    color: white
    cursor: pointer
    background-color: brandColor(one)
    font-size: 15px
    &:hover
        background-color: brandColor(two)
        border: none !important
        color: brandColor(one)
        outline: none !important
        box-shadow: 0 0 30px rgba(0, 0, 0, .3)
        -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .3)
        -moz-box-shadow: 0 0 30px rgba(0, 0, 0, .3)
        -o-box-shadow: 0 0 30px rgba(0, 0, 0, .3)




main 
    width: 100%
    height: 100%
main header
    width: 100%
    background-color: brandColor(one)
    padding: 1em 0
    box-shadow: 0 0 50px rgba(0, 0, 0, .2)
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, .2)
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, .2)
    -ms-box-shadow: 0 0 50px rgba(0, 0, 0, .2)
    -o-box-shadow: 0 0 50px rgba(0, 0, 0, .2)
    .container
        display: flex
        h4 
            color: white
            margin: auto
            text-transform: uppercase

main .body-wrap
    width: 100%
    height: 100%
    display: flex 
    flex-direction: column
    padding: 3em 0 2em 0
    section 
        margin: 0 auto
        background-color: white
        width: fit-content
        min-width: 500px
        border-radius: 2px
        padding: 1em
        box-shadow: 0 0 50px rgba(0, 0, 0, .2)
        -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, .2)
        -moz-box-shadow: 0 0 50px rgba(0, 0, 0, .2)
        -ms-box-shadow: 0 0 50px rgba(0, 0, 0, .2)
        -o-box-shadow: 0 0 50px rgba(0, 0, 0, .2)
        @include desktop_md
            min-width: 100%



@import "src/assets/styling/spinner.scss"


